@import '/src/styles/variables.scss';

.swiper {
  width: 100%;
  height: auto;
  flex-grow: 1;
}

@media screen and (min-width: 1024px) {
  .swiper_container {
    position: relative;
    padding: 0 80px 104px;
  }

  .button {
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 25%;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(56, 119, 238, .3);

    &::before,
    &::after {
      content: '';
      background-color: $secondary;
      width: 10px;
      height: 2px;
      position: absolute;
      left: 50%;
    }

    &::before {
      top: 40%;
      transform: translate(-70%, 50%) rotate(-45deg);
    }

    &::after {
      top: 60%;
      transform: translate(-70%, -60%) rotate(45deg);
    }

    &.next {
      left: unset;
      right: 20px;

      &::before {
        transform: translate(-50%, 50%) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, -60%) rotate(-45deg);
      }
    }
  }
}